body {
  margin: 0;
  padding: 0;

  /* 🔥 BASE CARAMELO PROFUNDA */
  background: #a2a2a200;

  background-size: 200% 200%;

  animation: fundoCaramelo 20s ease-in-out infinite;

}

@media (max-width: 700px) {
  body {
    padding-top: 65px;
  }
}

html,
body {
  height: 100%;
  overflow-x: hidden;
}

/* 🔥 ANIMAÇÃO SUAVE */
@keyframes fundoCaramelo {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}